/**
 * This is for convenience of developing only. The minified result should go into
 * the _css var in iris.js. Run grunt cssmin to generate.
 */
.iris-picker {
	display: block;
	position: relative;
}
.iris-error {
	background-color: #ffafaf;
}
.iris-border {
	border-radius: 3px;
	border: 1px solid #aaa;
	width: 200px;
	background-color: #fff;
}
.iris-picker-inner {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.iris-border .iris-picker-inner {
	top: 10px;
	right: 10px;
	left: 10px;
	bottom: 10px;
}
.iris-picker .iris-square,
.iris-picker .iris-slider,
.iris-picker .grad-box {
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
	   -moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
	        box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
	height: 100%;
	width: 12.5%;
	float: left;
	margin-right: 5%;
}
.iris-picker .iris-square {
	width: 76%;
	margin-right: 10%;
}
.iris-picker .grad-box {
	width: auto;
	margin: 0;
}
.iris-picker .iris-square .sat,
.iris-ie-9 .iris-square,
.iris-ie-9 .iris-slider,
.iris-ie-9 .grad-box {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	border-radius: 0;
}
.iris-picker .iris-square .sat {
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
}
.iris-ie-lt9 .iris-square,
.iris-ie-lt9 .iris-slider,
.iris-ie-lt9 .grad-box {
	outline: 1px solid #aaa;
}
.iris-ie-lt9 .iris-square .ui-slider-handle {
	outline: 1px solid #aaa;
	background-color: #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.iris-ie-lt9 .iris-square .iris-square-handle {
	background: none;
	border: 3px solid #fff;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.iris-picker .iris-hue {
	margin-right: 0;
}
.iris-picker .iris-tooltip {
	position: absolute;
	z-index: 10;
	font: 10px/1 sans-serif;
	color: #222;
	background: #fff;
	border: 1px solid #666;
	padding: 3px 6px;
	border-radius: 3px;
	opacity: .94;
	white-space: nowrap;
	top: -36px;
	left: -12px;
}
.iris-picker .iris-tooltip:before, .iris-picker .iris-tooltip:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 6px 6px 0 6px;
	border-color: #666 transparent transparent transparent;
	position: absolute;
	bottom: -6px;
	left: 6px;
}
.iris-picker .iris-tooltip:after {
	bottom: -5px;
	border-top-color: #fff;
}
.iris-picker .iris-hue .ui-slider-handle {
	position: absolute;
	width: 100%;
	height: 12px;
	background: none;
	border-radius: 0;
	box-shadow: none;
	opacity: 1;
	z-index: 5;
}
.iris-hue .ui-slider-handle:before, .iris-hue .ui-slider-handle:after {
	content: " ";
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 6px 7px 6px 0;
	border-color: transparent #555 transparent transparent;
	position: absolute;
	right: -4px;
}
.iris-hue .ui-slider-handle:after {
	border-width: 6px 0 6px 7px;
	border-color: transparent transparent transparent #555;
	right: auto;
	left: -4px;
}
.iris-picker .iris-slider-offset {
	width: 100%;
	height: 100%;
	position: relative;
	bottom: -6px;
}
.iris-square .iris-square-horiz {
	position: absolute;
	top: -7px;
	left: -7px;
	height: 1px;
	width: 100%;
}
.iris-square .iris-square-vert {
	position: absolute;
	right: 6px;
	top: 7px;
	width: 1px;
	height: 100%;
}
.iris-square .iris-square-slider a {
	opacity: .3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	-moz-transition: opacity 300ms;
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
}
.iris-square .iris-square-slider .ui-slider-handle.active {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.iris-dragging .iris-square-slider .ui-slider-handle.active {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.iris-picker .ui-slider-handle {
	background: #f5f5f5;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	box-shadow: inset #fff 0px 1px 1px, inset 0px -1px 1px rgba( 0, 0, 0, 0.4 ), 0px 1px 4px 0px rgba( 0, 0, 0, 0.2 ), 0 0 2px rgba( 0, 0, 0, 0.3 );
	display: block;
	opacity: 0.7;
	position: absolute;
	z-index: 5;
	height: 20px;
	width: 20px;
	cursor: default;
	cursor: ns-resize;
	z-index: 5;
}
.iris-square-horiz .ui-slider-handle {
	cursor: ew-resize;
}
.iris-square-slider .ui-slider-handle {
	width: 14px;
	height: 14px;
	opacity: 1;
	background-color:#eee;
}
.iris-picker .iris-square-handle {
	background: transparent;
	border: 5px solid #aaa;
	border-color: rgba(128,128,128,.5);
	box-shadow:none;
	width:  12px;
	height: 12px;
	position: absolute;
	left: -10px;
	top:  -10px;
	cursor: move;
	opacity: 1;
	z-index: 10;
}
.iris-picker .ui-state-focus .iris-square-handle {
	opacity: .8;
}
.iris-picker .iris-square-handle:hover {
	border-color: #999;
}
.iris-picker .iris-square-handle:hover::after {
	border-color: #fff;
}
.iris-picker .iris-square-handle::after {
	position: absolute;
	bottom: -4px;
	right:  -4px;
	left:   -4px;
	top:    -4px;
	border: 3px solid #f9f9f9;
	border-color: rgba(255,255,255,.8);
	border-radius: 50%;
	content: " ";
}
.iris-picker .iris-square-value {
	width:  8px;
	height: 8px;
	position: absolute;
}
.iris-ie-lt9 .iris-square-value, .iris-mozilla .iris-square-value {
	width: 1px;
	height: 1px;
}